{% extends 'base.html' %}

{% block content %}

<span class="d-none">{% block header %} JetShift {% endblock %}</span>

<div class="text-center" style="max-width: 800px; margin: auto">
  <img class="img-fluid" src="https://cdn.shouts.dev/media/435/jetshift-github.png" style="max-width: 150px"><br>
</div>

<div class="display-6 mt-3" style="font-size: 20px; max-width: 600px; margin:auto">
  <p>JetShift is a powerful and lightweight ETL framework that simplifies the process of building data pipelines.</p>
  <p>Accelerate your data transfer with JetShift.</p>
</div>

{% endblock %}
