{% extends 'base.html' %}

{% block content %}

<span class="d-none">{% block header %} JetShift {% endblock %}</span>

<div class="text-center" style="max-width: 800px; margin: auto">
  <img class="img-fluid" src="https://cdn.shouts.dev/media/435/jetshift-github.png" style="max-width: 150px"><br>
</div>

<div class="display-6 mt-3" style="font-size: 20px; max-width: 600px; margin:auto">
  JetShift is a powerful and lightweight Python framework for ETL (Extract, Transform, Load) that simplifies building data pipelines. <br><br>

  Transfer data between <a href="https://pandas.pydata.org/docs/user_guide/io.html" target="_blank">Pandas data sources</a> and any destination, such as data warehouses or databases.
</div>

{% endblock %}
